<meta charset="UTF-8" />
<title>Travel Wish List</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  body { padding-top:50px; }
  .card-container { display: flex; flex-wrap: wrap; gap: 20px}
  .card { background-color: white; padding: 15px 25px; border-radius: 5px; flex: 1 0 auto; width: 200px; justify-content: center;}
  h2 {margin: 30px 0 10px 0}
  h4 {font-size: 16px; font-weight: bold}
  label {display: block}
  button { background-color: turquoise; border: none; border-radius: 3px; padding: 3px 10px; margin: 2px;}
  button:hover { background-color: rgb(105, 245, 231); border: 2px solid turquoise;margin: 0 }
  .students p {padding: 0;margin:0} 
</style>
